[tool.black]
line-length = 127
target-version = ['py311']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | migrations
  | __pycache__
  | \.eggs
  | \.mypy_cache
  | \.pytest_cache
  | \.ruff_cache
)/
'''
